
.tabTitle {
    font-size: 1rem;
    user-select: none;
}

.form {
    width: 100%;
}

.upload {
    width: 100%;
}



 .upload :global(.ant-upload-list-item-thumbnail) {
    display: flex;
    align-items: center;
    justify-content: center;
 }
